body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.icon-size {
  height: 34px;
  width: 34px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-container a {
  padding: 0px 10px 10px 0px;
}